:root {
  --background-color: #282c34;
  --text-color: #abb2bf;
  --element-background: #3b4048;
  --button-color: #61dafb;
  --button-hover-color: #4ec8ea;
  --complete-color: #98c379;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20rem;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Muli", sans-serif;
  color: var(--text-color);
}

.contract,
.existing-contracts {
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--element-background);
  max-width: 500px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: var(--text-color);
  font-size: 24px;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--button-color);
  color: var(--background-color);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.existing-contract ul {
  padding: 20px;
  margin: 20px 0;
  background-color: var(--element-background);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
  color: var(--text-color);
}

.existing-contract .complete {
  color: var(--complete-color);
  text-align: center;
}
